<ul>

  <!-- FOLDER: CONCEPTS -->
  <li>
    <span class="folder-name">Concepts</span>
    <ul>
      <li *ngFor="let file of getFilesInFolder('Concepts')">
        <a href="#" (click)="onSelectFile(file)">{{ file }}</a>
      </li>
    </ul>
  </li>

  <!-- FOLDER: LANGUAGE -->
  <li>
    <span class="folder-name">Languages</span>
    <ul>
      <li *ngFor="let file of getFilesInFolder('Languages')">
        <a href="#" (click)="onSelectFile(file)">{{ file }}</a>
      </li>
    </ul>
  </li>
  <!-- Add more folders or categories as needed -->
</ul>