<div class="main-container">
    <div class="sidenav">
        <!-- Search input -->
        <input type="text" class="input-search" placeholder="Search MD files" (input)="performSearch($event.target.value)">

        <app-navigation (fileSelected)="onFileSelected($event)"></app-navigation>
    </div>
  
    <div class="main-content">
        <app-content-display [content]="selectedFileContent"></app-content-display>
    </div>
</div>


