
.input-search {
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the width */
  margin-bottom: 15px; /* Optional: Add some spacing below the input */
}

.main-container {
  display: flex;
  height: 100vh; /* Adjust as needed */
  
}

.sidenav {
  background-color: #f0f0f0; /* Sidebar background color */
  justify-content: flex-start; /* Align container to the left */
}


.main-content {
  flex: 1; /*Take remaining space */
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling if needed */
}
